@import "./settings";

body{
    position: relative;
    #toolbar {
        z-index: 1000;
        background: white;
        padding: 10px;
        border-radius: 8px;
    }

    #routes-list {
        width: 90%;
        max-height: 400px;
        overflow: auto;
        z-index: 1000;
        background: $bg-panel;
        color: $text-main;
        font-family: "Inter", sans-serif;
        padding: 10px;
        border-radius: 4px;
    }

    .temporary-routes-list{
        width: 90%;
        max-height: 400px;
        overflow: auto;
        z-index: 1000;
        background: $bg-panel;
        color: $text-main;
        font-family: "Inter", sans-serif;
        padding: 10px;
        border-radius: 4px;
    }
    .route-item {
        padding: 8px;
        cursor: pointer;
        background: $border-soft;
        color: $text-main;
        h3, p{
            margin: 0 0 4px 0;
        }
        .route-item-stops{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        #routeItemDetail{
            display: none;
        }
        .show-route-item-detail{
            display: block !important;
        }
        a{
            text-decoration: none;
            color: $bg-main;
        }
    }
    #route-info {
        background: $service;
        color: $text-main;
        width: 90%;
        text-align: center;
        padding: 8px 12px;
        border-radius: 4px;
        font-family: "Orbitron", sans-serif;
        font-size: 0.9em;
    }
    #map{
        height: 500px;
        width: 100%;
    }
}